div {
    height: 50px;
    background-color: #CCC;
    border: 1px solid #222;
    padding: 10px;
}


.relative {
    background-color: #321;
    position: relative;
    color: white;
}

.relative-alterada {
    top: 20px;
    left: 20px;
}

.absolute {
    top: 20px;
    background-color: red;
    position: absolute;
    right: 20px;
}

html {
    padding-bottom: 1000px;
}

.fixed {
    width: 50px;
    height: 50px;
    background-color: purple;
    position: fixed;
    top: 10px;
}

.sticky {
    position: sticky;
    height: 100px;
    width: 200px;
    background-color: #00FF00;
    top: 10px;
}